/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  text-align: center;
  color: #aaaaaa;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav sketch rightside"
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 10% 1fr 15%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
  /* background: darkgrey; */
  background: #293c4b;
}
/* header, footer, article, nav, div {
  padding: 20px;
  background: "#aaaaaa";
} */
.pageHeader {
  grid-area: header;
  background: #293c4b;
  text-align: left;
  margin-left: 10px;
}
.pageFooter {
  grid-area: footer;
}
.sketchArea {
  grid-area: sketch;
  background: #010214;
}
.mainNav {
  grid-area: nav;
  text-align: left;
}
.rightSideArea {
  grid-area: rightside;
}

ul {
  list-style-type: none;
  margin: 4px;
  padding: 0;
  /* width: 60px; */
}

li a {
  display: block;
}
h3, h4 {
  margin-top: 2px;
  margin-bottom: 2px;
}
